.about{
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
}

.about-content{
    width: 100vw;
    height: 100vh;
    padding:20px;
}

.self{
    display: flex;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 10px;

}
.para{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    box-sizing: border-box;
    padding: 10px;
    background-color: aliceblue;
    line-height: 20px;
}
.para h3{
    color:red;
    padding: 10px;
    text-transform: uppercase;
}

.education{
    padding: 8px;
    background-color: lightblue;
    line-height: 25px;
    width: 100%;
    border:1px solid white;

}
.education h2{
    color: red;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    font-size: 20px;
}
.skill{
    padding: 8px;
    background-color: lightblue;
    line-height: 25px;
    width: 100%;
    border:1px solid white;
}
@media (max-width:700px){
    .about-content{
        margin-left: 30px;
    }
}