.tech{
    width:100%;
    height: 100%;
    box-sizing: border-box;
}

.sub{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow:auto;
}
.t-skill{
    display: flex;
    flex-direction: column;
    border: 1px solid snow;
    width:280px;
    height: 280px;
    margin:10px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0.5px 0.5px;
    background-color:snow;
    cursor: pointer;
}
.t-skill h3{
    width:100%;
    padding:6px;
    color:orangered;
    cursor: pointer;
    text-align: center;
}
.t-skill .len{
    width:150px;
    height: 150px;
    color:cyan;
    transition: 0.5s;
}

.len:hover{
    color:goldenrod;
    transform: rotate(360deg);
}